/* Header Section Css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
    font-family: poppins;
}

.mobile-menu {
    display: none;
}

::placeholder {
    color: #053A57 !important;
    font-size: 13px !important;
}

.bg-color {
    background: linear-gradient(130deg, #0E648A 0%, #053A57 100%) !important;
    /* background-color: #88cceb; */
}

.bg-color {
    background: linear-gradient(130deg, #0E648A 0%, #053A57 100%) !important;
    /* background-color: #88cceb; */
}

.bg-color1 {
    background-color: #88cceb;
}

.header-banner {
    padding-top: 20px;
    padding-bottom: 120px;
}

.header-banner1 {
    padding-top: 20px;
    padding-bottom: 120px;
}

.company-name1 {
    color: #851619;
    font-size: 40px;
}

.heading-color {
    color: #851619;
}

.text-color {
    color: #084767;
}

.total-price {
    background: #084767 !important;
    color: #fff !important;
}

.fs-20 {
    font-size: 20px
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-43 {
    font-size: 43px;
}

.fs-48 {
    font-size: 40px;
}

.form-control {
    border-color: #053A57 !important;
}

.form-control:focus {
    box-shadow: transparent !important;
}
.form-heading {
    background-image: url(../images/heading-bg.png);
    padding-left: 50px;
    position: relative;
    left: -49px;
    color: white;
    background-size: cover;
    background-position: center;
    width: 400px;
    top: -18px;
    height: 65px;
    display: flex;
    align-items: center;
}

.form-heading1 {
    background-color: #851619;
    padding-left: 50px;
    position: relative;
    left: -53px;
    color: white;
    background-size: cover;
    background-position: center;
    width: 400px;
    top: -18px;
    height: 65px;
    display: flex;
    align-items: center;

}

hr {
    border-top: 2px solid #0F8B53;
    margin: 0px !important;
}

.fs-13 {
    font-size: 13px;
}

.price-display {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #053A57 !important;
    border-radius: 4px;

}

.total-amount {
    font-size: 18px;
    font-weight: 700;
}

.main-dashboard {
    height: 100vh;
    overflow: hidden;
}

.dashboard-content {
    overflow: auto;
    height: calc(100vh - 50px);
}

.banner-text {
    text-shadow: 1px 1px white;
    font-style: italic;
    color: #851619;
}

.header-section {
    background-color: #851619;
}

.header-section1 {
    background-color: #851619;

}

.header-section .header-text {
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    line-height: 14px;
    color: #C22027;
}

.header-bottom {
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    line-height: 14px;
}

.booking-formsection {
    /* background-image: url(/images/banner-bg.jpg); */
    background-image: url(/images/grass-image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;

}

.booking-formsection1 {
    /* background-image: url(/images/banner-bg.jpg); */
    background-image: url(/images/grass-image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
    /* height: 700px; */
    display: flex;
    align-items: center;

}

.booking-formsection .banner-image {
    padding: 70px 0px 0px 0px;
    width: 100%;
}

.booking-formsection .booking-section {
    background-color: white;
    margin-top: -100px;
    border-radius: 10px !important;
}

.um-booking-section {
    background: transparent !important;
}


.um-table th {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    padding-left: 26px !important;
}

.um-table td {
    font-size: 20px;
    font-weight: 500;
    padding-left: 26px !important;
}

.um-table>thead {
    border: 3px solid #fff !important;
}

.booking-formsection .booking-form {
    background-color: white;
    padding: 40px 40px;
    border-radius: 10px;

}

.booking-formsection .booking-btn {
    background-color: #053A57 !important;
}

.booking-formsection .booking-btn:active {
    outline: none;

}

.booking-formsection .booking-btn1 {
    background-color: #851619 !important;
}

.booking-formsection .booking-btn1:active {
    outline: none;
}

.top-footerimg {
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.footer-section {
    /* background-color: #FFD500; */
    background: linear-gradient(360deg, #0E648A 0%, #053A57 100%) !important;
    /* background-color: #88cceb; */
    padding: 70px 0px 70px 0px;

}

.footer-section .social-links i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #5599CD;
    /* padding-top: 8px; */
    font-size: 25px;
    /* padding: 14px; */
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-section1 {
    background-color: #88cceb;
    padding: 70px 0px 70px 0px;

}

.footer-section1 .social-links i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #5599CD;
    /* padding-top: 8px; */
    font-size: 25px;
    /* padding: 14px; */
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
}

.banner-section {
    background-image: url('../images/booking-bg.png');
    /* height: 500px; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 25px 0px;
}

.banner-section1 {
    background-image: url('../images/new-bg.png');
    /* height: 500px; */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 25px 0px;
}

.drink-info {
    text-wrap: balance;
    font-weight: 500;
}

.location-info {
    border-right: 3px solid white !important;
}

.action-btn {
    padding: 10px 34px;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 800;
    text-wrap: balance;
}

.event-info {
    padding: 45px 100px 0px;
}

@media (min-width: 1200px) {
    .container {
        width: 1440px !important;
    }

}

@media only screen and (max-width: 768px) {
    .location-info {
        border-right: 3px solid white !important;
        margin-bottom: 20px !important;
    }

    .event-info {
        padding: 45px 10px 0px;
    }

    .action-btn {
        padding: 10px 34px;
        border: 1px solid white;
        border-radius: 6px;
        font-weight: 800;
        width: 100%;
        text-wrap: balance;
        font-size: 12px !important;
    }

    .booking-formsection .booking-form {
        background-color: white;
        padding: 40px 20px;
    }

    .fs-20 {
        font-size: 15px
    }

    .fs-24 {
        font-size: 18px;
    }

    .fs-32 {
        font-size: 25px;
    }

    .fs-40 {
        font-size: 30px;
    }

    .fs-43 {
        font-size: 32px;
    }

    .fs-48 {
        font-size: 28px;
    }

    .company-name1 {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .menu-section {
        width: 236px;
        display: none;
        position: absolute;
        z-index: 9999;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .mobile-menu:focus {
        border: 0;
    }

    .user-info {
        position: absolute;
        bottom: 0;
    }

    .event-info {
        padding: 10px 10px 0px;
    }

    .location-info {
        border-bottom: 3px solid white !important;
        border-right: 0px !important;
        margin-bottom: 20px !important;
    }

    .action-btn {
        padding: 10px 34px;
        border: 1px solid white;
        border-radius: 6px;
        font-weight: 800;
        width: 100%;
        text-wrap: balance;
        font-size: 12px !important;
    }
}

@media screen and (max-width: 475px) {
    .header-logo {
        width: 75px;
        padding: 0px 10px;
    }

        .header-bottom {
            font-size: 12px;
        }

        .booking-formsection .banner-image {
            padding: 24px 0px 0px 0px;
            width: 100%;
        }

        .main-heading {
            line-height: 1.5;
        }

        .form-heading {
            background-image: url(../images/heading-bg.png);
            padding-left: 50px;
            position: relative;
            left: -49px;
            color: white;
            background-size: cover;
            background-position: center;
            width: 400px;
            top: -18px;
            height: 65px;
            display: flex;
            align-items: center;
        }

        .form-heading h3 {
            font-size: 18px;
        }

        .company-name {
            font-size: 18px;

        }
    }

    @media screen and (max-width: 425px) {
        .header-logo {
            width: 62px;
            padding: 0px 10px;
        }
    }

    @media screen and (max-width: 414px) {
        .header-logo {
            width: 62px;
            padding: 0px 10px;
        }
    }
